* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: Arial, sans-serif;
  background: #f3f4f6;
  height: 100vh;
}

.container {
  display: flex;
  height: 100vh;
}


/* SIDEBAR */
.sidebar {
  width: 250px;
  background: white;
  padding: 20px;
  border-right: 1px solid #ddd;
}

.sidebar h2 {
  margin-bottom: 20px;
}

.sidebar button {
  width: 100%;
  padding: 12px;
  border: none;
  background: black;
  color: white;
  border-radius: 8px;
  cursor: pointer;
}


/* PREVIEW */
.preview-section {
  flex: 1;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-top: 20px;
}

.preview-section h2 {
  margin-bottom: 20px;
}

#device-select {
  padding: 10px;
  margin-bottom: 20px;
}

#mobile-preview {
  width: 375px;
  height: 667px;
  background: white;
  border: 12px solid black;
  border-radius: 35px;
  overflow-y: auto;
  padding: 20px;
}


/* PROPERTIES */
.properties {
  width: 250px;
  background: white;
  padding: 20px;
  border-left: 1px solid #ddd;
}

.properties h2 {
  margin-bottom: 20px;
}

.properties input {
  width: 100%;
  margin-bottom: 15px;
  padding: 8px;
}